/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

body {
    background-color: #222;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.figure.figure.right {
    float: right;
    margin-left: 8px;
}

.row {
    display: block;
}

.inner-wrap-main {
    padding-bottom: 48px;
}

.inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;

}

.region-main {
    display: inline;
    float: left;
    margin-left: 3%;
}

.byline {
    background-color: #b3b3b3;
    border: 1px solid #999;
    border-radius: 15px;
    overflow: auto;
    width: 500px;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
}

.figure {
    display: table;
    table-layout: fixed;
}

.figure-pic {
    float: left;
    width: 80px;
}

.byline-text {
    float: top;
    margin-left: 90px;
    padding-left: 30px;
}

.figure figcaption {
    display: table-caption;
    caption-side: bottom;
}

.figure figcaption p {
    font-style: italic;
}

.wrap-all {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
}

.outer-wrap-footer {
    padding-top: 24px;
    padding-bottom: 48px;
}

.region-footer {
    display: inline;
    float: left;
    width: 98%;
}

.footer-column-wrapper {
    color: #000000;
    border-bottom: 1px solid #666;
    padding-bottom: 24px;
    margin-bottom: 48px;
}

.footer-column {
    display: inline;
    width: 33%;
    float: left;
}

.site-footer {
    color: #000000;
    text-align: center;
    padding-bottom: 24px;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}
